<form action="/decks" method="post">
  <input type="text" name="name" value="" placeholder="Title of deck">
  <textarea name="description" rows="2" placeholder="Describe your deck (optional)"></textarea>
  <button type="submit" name="button">Create deck</button>
</form>
