<form action="/deck" method="post">
  <input type="text" name="title" value="" placeholder="Title of set">
  <textarea name="description" rows="2" placeholder="Describe your set (optional)"></textarea>
</form>
