<a href="/profile">&lt; Back to profile</a>
{{#data}}
  <h1>{{name}}</h1>
  <p>{{description}}</p>
  <p><a href="/decks/{{id}}/edit">Edit this deck</a></p>
  <p><a href="/decks/{{id}}/delete">Delete this deck</a></p>
  <form action="/decks/{{id}}/cards" method="post">
    <input type="text" name="front" value="" placeholder="Front of card">
    <textarea name="back" rows="2" placeholder="Back of card"></textarea>
    <button type="submit" name="button">Create card</button>
  </form>
  {{#cards}}
    <div class="simpleCard">
      <h3>{{front}}</h3>
      <p>{{back}}</p>
      <p><a href="/cards/{{id}}/edit">Edit</a></p>
      <p><a href="/cards/{{id}}/delete">Delete</a></p>
    </div>
  {{/cards}}
{{/data}}
