{{#data}}
  <div class="simpleCard max-width">
    <h1>Edit a card</h1>
    <form action="/cards/{{id}}/edit" method="post" class="createCard">
      <input type="text" name="front" value="{{front}}" placeholder="Front of card">
      <textarea name="back" rows="2" placeholder="Back of card">{{back}}</textarea>
      <button type="submit" name="button">Edit card</button>
    </form>
  </div>
{{/data}}
