<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flipcards</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <h1 id="logo">Flipcards</h1>
        <nav>
          {{#user}}
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
          {{/user}}
          {{^user}}
            <a href="/login">Login</a>
          {{/user}}
        </nav>
      </header>
      <main>
        {{{yield}}}
      </main>
      <footer>
        <p>Flipcards: Study better</p>
      </footer>
    </div>
  </body>
</html>
