<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flipcards</title>
    <link rel="stylesheet" href="/main.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <h1 id="logo">Flipcards</h1>
        <nav>
          <a href="/logout">Logout</a>
        </nav>
      </header>
      <main>
        {{{yield}}}
      </main>
      <footer>
        <p>Flipcards: Study better</p>
      </footer>
    </div>
  </body>
</html>
