{{#data}}
  {{#.}}
    <article class="quizItem">
      <section class="quizFront">
        {{front}}
      </section>
      <section class="quizBack">
        {{back}}
      </section>
    </article>
  {{/.}}
{{/data}}
<script type="text/javascript" src="/js/main.js"></script>
