<div class="simpleCard max-width">
  <h1>Sign up</h1>
  <form class="login" action="/signup" method="post">
    <input type="text" name="username" value="" placeholder="Username" autofocus>
    <input type="password" name="password" value="" placeholder="Password">
    <input type="password" name="confirm" value="" placeholder="Confirm password">
    <button type="submit" name="button">Sign up</button>
  </form>
  <p class="center">Already have an account? <a href="/login">Login!</a></p>
</div>
{{#messages.error}}
  <div class="errorMessages">
    <p>{{.}}</p>
  </div>
{{/messages.error}}
