a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Roboto:300,400,700');

/***** Begin styles *****/
input:focus, textarea:focus {
  outline-color: : #2196F3;
}
a {
  color: #2196F3;
}
a:hover, a:active {
  color: #1976D2;
}
body, body * {
  font-family: 'Roboto', Helvetica, sans-serif;
}
body {
  background: #F5F5F5;
}

/***** Login forms *****/

form.login {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 10px;
}
.login > * {
  font-size: 1em;
  margin: 10px 0 0;
  padding: 10px;
}
.login input {
}

/***** General layout *****/

header {
  align-items: center;
  background: #2196F3;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 0;
}
header > * {
  margin: 0 20px;
}
main {
  margin: 10px;
}
footer {
  align-items: center;
  background: #0D47A1;
  bottom: 0;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  left: 0;
  padding: 20px 0;
  width: 100%;
}
footer > * {
  margin: 0 20px;
}

/***** Header *****/

#logo {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}

nav {
  display: flex;
  flex-flow: row nowrap;
}

header a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
header a:hover, header a:active {
  color: white;
  background: #1E88E5;
}

.align-center {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
.capitalize {
  text-transform: capitalize;
}
.center {
  text-align: center;
  margin-top: 15px;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}
.leftSide {
  flex: 0 40%;
}
.rightSide {
  flex: 0 60%;
}
.simpleCard {
  background: white;
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  flex: 1 50%;
  margin: 15px;
  padding: 15px;
}
.simpleCard a {
  text-decoration: none;
}
.simpleCard i {
  margin-right: 5px;
}
.simpleCard h1 {
  font-size: 2em;
  font-weight: 700;
}
.simpleCard h2 {
  font-size: 1.25em;
  font-weight: bold;
}
.simpleCard p.body {
  font-size: 1em;
  margin: 15px 0 0;
}
.description {
  font-style: italic;
  margin: 15px 0 0;
}
.createCard {
  display: flex;
  flex-flow: column;
}
.createCard > * {
  border: 0;
  font-size: 1em;
  margin: 10px 0 0;
  padding: 10px;
}
.createCard input, .createCard textarea {
  background: #F5F5F5;
  resize: none;
}
.createCard input {
  font-size: 1.25em;
  font-weight: bold;
}
button {
  background: linear-gradient(#E0E0E0, #BDBDBD);
  border: none;
  cursor: pointer;
}
button:hover, button:active {
  background: linear-gradient(#2196F3, #1E88E5);
  color: white;
}
.max-width {
  margin: 20px auto;
  max-width: 50%;
  width: 100%;
}
.deckLinks {
  margin: 15px 0 0;
}
.deckLinks p {
  margin: 5px 0 0;
}
.displayCard {
  background: white url('/img/card-bg.png') top left repeat-x;
  margin: 15px;
  padding: 15px 5px;
}
.displayCard h2 {
  padding: 0 10px 5px;
}
.displayCard p {
  padding: 0 10px;
}
.displayCard .links {
  color: #333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.links a {
  color: rgba(0, 0, 0, 0.2);
}
.links a:hover, .links a:active {
  color: rgba(0, 0, 0, 0.3);
}
.quizItem {
  border-top: 1px solid #E0E0E0;
  margin: 20px auto;
  padding-top: 30px;
  width: 500px;
}
.cardContainer {
  position: relative;
  height: 300px;
  width: 500px;
}
#quizDirections {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
  margin: 15px auto 30px;
  max-width: 500px;
  text-align: center;
}
.quizFront, .quizBack {
  align-items: center;
  background: white;
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: 300px;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
}
.quizFront {
  font-size: 1.5em;
  font-weight: bold;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
}
.quizBack {
  background: white url('/img/card-bg.png') top left repeat-x;
  font-size: 1.25em;
  z-index: 1;
}
.quizScore {
  align-content: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 15px auto;
}
.quizScore a {
  align-items: center;
  color: #BDBDBD;
  display: flex;
  flex: 0 20%;
  flex-flow: row nowrap;
  text-decoration: none;
}
.plus:hover, .plus:active {
  color: #8BC34A;
}
.minus:hover, .minus:active {
  color: #F44336;
}
.quizScore i {
  margin: 0 10px;
  text-decoration: none;
}
.invisible {
  opacity: 0;
}
.gameover {
  text-align: center;
  margin: 15px auto;
  max-width: 500px;
  width: 100%;
}
.gameover * {
  padding: 10px 0;
}
.gameover h1 {
  font-size: 6em;
}
.gameover h2 {
  border: none;
  font-size: 3em;
}
.gameover p {
  font-size: 2em;
}
.gameover a {
  border-top: 1px solid #e0e0e0;
  font-size: 0.5em;
  margin-top: 15px;
  padding: 15px 30px;
}
